/* Add your CSS styles here */
:host {
    display: block;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  