<div class="container">
  <h2>{{ isEditMode ? 'Edit Student' : 'Add Student' }}</h2>
  <form (ngSubmit)="saveStudent()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="student.name" required>
    </div>
    <div class="form-group">
      <label for="contact">Contact:</label>
      <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="student.contact" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="student.email" required>
    </div>
    <div class="form-group">
      <label for="enrollYear">Enroll Year:</label>
      <input type="text" class="form-control" id="enrollYear" name="enrollYear" [(ngModel)]="student.enrollYear" required>
    </div>
    <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Save' }}</button>
  </form>
</div>
